@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
  color-scheme: dark;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Smooth transitions for dark mode */
* {
  transition-property: color, background-color, border-color;
  transition-duration: 200ms;
}

/* Prevent transition on page load */
.no-transitions * {
  transition: none !important;
}
